@charset "utf-8";

/*EVENT PAGE*/


/*header
***************************************/

header {
    padding: 0;
    height: auto;
}

header img {
    width: 100%;
    height: auto;
}


/*mainContents
**************************************/

.mainContents {
    padding: 60px 0;
}


/*.timeTable*/

.timeTable {
    margin-bottom: 60px;
}

.timeTable img {
    width: 100%;
    height: auto;
}


/*.eventDetail*/

.eventDetail section {
    margin-bottom: 60px;
}

.eventTtlBg {
    margin-bottom: 20px;
}

.eventtxt {
    font-size: 1.4em;
}
.caution_txt {
    font-size: 11px;
}
.imgLeft .txt, .imgRight .img {
    float: right;
}

.imgLeft .img, .imgRight .txt {
    float: left;
}

.imgLeft .img img, .imgRight .img img {
    width: 100%;
}

.imgLeft .img, .imgRight .img {
    width: 38%;
}

.imgLeft .txt, .imgRight .txt {
    width: 58%;
}

.eventtitle {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
    font-size: 1.8em;
}

.event01 .eventtitle {
    width: 58%;
}

.eventDetail .img img, .eventDetail h2 img {
    display: none;
}

.eventDetail h2 {
    display: block;
    width: 950px;
    height: 75px;
    background: no-repeat center center;
}

.eventDetail .img {
    width: 360px;
    height: 215px;
    display: block;
    background: no-repeat center center;
}
.event03{
	position: relative;
}
.event03 .item-eventtxt{
	position: absolute;
	width: 58%;
	top:180px;
	font-size: 1.4em;
}

.event01 h2 {
    background-image: url(../images/event/ttl_event01_pc.png);
}

.event02 h2 {
    background-image: url(../images/event/ttl_event02_pc.png);
}

.event03 h2 {
    background-image: url(../images/event/ttl_event03_pc.png);
}

.event04 h2 {
    background-image: url(../images/event/ttl_event04_pc.png);
}

.event05 h2 {
    background-image: url(../images/event/ttl_event05_pc.png);
}

.event01 .img {
    background-image: url(../images/event/img_event01_pc.png);
}

.event02 .img {
    background-image: url(../images/event/img_event02_pc.png);
    background-size: cover;
}

.event03 .img {
    background-image: url(../images/event/img_event03_pc.png);
}

.event04 .img {
    background-image: url(../images/event/img_event04_pc.png);
    background-size: cover;
}

.event05 .img {
    background-image: url(../images/event/img_event05_pc.png);
}


.item_fukidashi{
	position: relative;
	background: #fff;
	border: 3px solid #de2525;
}
.item_fukidashi:after,
.item_fukidashi:before {
	bottom: 100%;
	left: 85%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.item_fukidashi:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.item_fukidashi:before {
	border-color: rgba(222, 37, 37, 0);
	border-bottom-color: #de2525;
	border-width: 14px;
	margin-left: -14px;
}

.item_fukidashi p {
    padding: 2.8% 3.7%;
}

.caution_box {
    background: #e9e9e9;
    padding: 20px 0;
}

.caution_box dl {
    display: table;
    table-layout: fixed;
    width: 50%;
    margin: auto;
    padding: 0 0 0 4%;
}

.caution_box dd, .caution_box dt {
    display: table-cell;
}

.caution_box dd {
    margin: 0;
    width: 90%;
}
.pc_only {
    display: block;
}

.sp_only {
    display: none;
}

footer {
    margin-top: 30px;
}

@media screen and (max-width:768px) {
    .pc_only {
        display: none;
    }
    .sp_only {
        display: block;
    }
    .eventDetail .img, .eventDetail h2 {
        width: 100%;
        height: auto;
        background: none;
    }
    .eventDetail .img img, .eventDetail h2 img {
        display: block;
    }
    .inner {
        padding: 0 7%;
    }
    /*mainContents
  **************************************/
    .mainContents {
        padding: 7% 0;
    }
    /*timeTable
  **************************************/
    .timeTable {
        margin-bottom: 9%;
    }
    /*eventDetail
  **************************************/
    .eventDetail section {
        margin-bottom: 8%;
    }
    .eventTtlBg {
        margin-bottom: 5%;
        padding: 0;
    }
    .event01 .eventtitle {
        width: 100%;
    }
    .imgLeft .img, .imgRight .img, .imgLeft .txt, .imgRight .txt {
        width: 100%;
    }
    .imgLeft .img, .imgRight .img {
        margin-bottom: 5%;
    }
    .event01 .eventTtlBg img {
        width: 100%;
    }
    .event02 .eventTtlBg img {
        width: 100%;
    }
    .event03 .eventTtlBg img {
        width: 100%;
    }
    .event04 .eventTtlBg img {
        width: 100%;
    }
    .event05 .eventTtlBg img {
        width: 100%;
    }

.event03 .item-eventtxt{
	position:relative;
	width:100%;
	top:auto;
}
.item_fukidashi{
	margin-bottom: 5%;
}
.item_fukidashi:after, .item_fukidashi:before{
	left: 50%;
}
    .caution_box dl {
        width: 90%;
    }
    .caution_box dd, .caution_box dt {
        vertical-align: middle;
    }
    .caution_box dd {
        padding-left: 3%;
    }
    /*footer
  **************************************/
    footer {
        margin-top: 7%;
    }
    footer .inner {
        padding: 0 2%;
    }
}

.imgRight .img {
    margin: 0 0 2% 2.5%;
}
