@charset "utf-8";

/*** total style ***/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: white ;
  color: black;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',"游ゴシック", "Yu Gothic", YuGothic, 'Source Sans Pro', 'メイリオ',Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 100%;
  width: 100%;
}

/*** float ***/
.fl-l {
  float: left;
}
.fl-r {
  float: right;
}

/*** clearfix ***/
.cf:before, .cf:after {
  content:"";
  display:block;
  overflow:hidden;
}
.cf:after { clear:both; }
.cf { zoom:1; }

/*** normalize 対策 ***/
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img{
  vertical-align: top;
}
table{
  border: 0;
  border-collapse:collapse;
}
table tr{
  padding: 0;
}
table tr td{
  border: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

/*** mouse over ***/
a img {
  /*border: medium none transparent;*/
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}
/*** inner width ***/
.inner {
  /*width: 1080px;*/
  width: 950px;
  max-width: 100%;
  margin: 0 auto;
}
.wrapper {
  position: relative;
  background: #fff;
  overflow: hidden;
}
/********************************/

/***** common *****/
.row {
  overflow: hidden;
  width: 100%;
}
.col {
  float: left;
  width : 50%;
}
.col12 {
  float: left;
  width : 100%;
}
.sp { display: none; }
.pc { display: block; }
/* header
***************************************************************/
header {
  height: 100px;
  padding-top: 25px;
}
header .inner { overflow: hidden; }
.lBox {
  float: left;
  width: 50%;
  text-align: left;
}
.rBox {
  float: right;
  width: 50%;
  text-align: right;
}
.rBox img {
  width: 97px;
  height: 44px;
}
/*nav
***************************************************/
nav {
  background: url(../images/bg_gnavi01.png) no-repeat;
  background-size: cover;
  width: 100%;
  bottom: -5%;
  position: absolute;
  margin-bottom: 70px;
  padding-top: 3.589858%;
}
nav .pcNav {
  position: absolute;
  top: 15%;
  left: 3%;
  right: 0;
  width: 45.266667%;
  max-width: 880px;
  margin: auto;
  text-align: left;
}
nav .pcNav li {
  display: inline-block;
  position: relative;
  text-align: center;
}
nav .pcNav li:nth-child(1) { width: 18.5%; }
nav .pcNav li:nth-child(1):after {
  position: absolute;
  top: -.7vw;
  left: 0;
  content: "";
  width: 1px;
  height: 2.7vw;
  background: #fff;
  transform: rotate(19deg);
}
nav .pcNav li:nth-child(1) img {
  width: 76.4%;
  padding-left: 3%;
}
nav .pcNav li:nth-child(2) { width: 11%; }
nav .pcNav li:nth-child(2):after {
  position: absolute;
  top: -.7vw;
  left: 0;
  content: "";
  width: 1px;
  height: 2.5vw;
  background: #fff;
  transform: rotate(19deg);
}
nav .pcNav li:nth-child(2) img {
  width: 61.2183%;
  padding-left: 6%;

}
nav .pcNav li:nth-child(3) { width: 12.2%; }
nav .pcNav li:nth-child(3):after {
  position: absolute;
  top: -.7vw;
  left: 0;
  content: "";
  width: 1px;
  height: 2.3vw;
  background: #fff;
  transform: rotate(19deg);
}
nav .pcNav li:nth-child(3) img {
  width: 69.008%;
  padding-left: 7.4%;
}
nav .pcNav li:nth-child(4) { width: 11.3%; }
nav .pcNav li:nth-child(4):before {
  position: absolute;
  top: -.7vw;
  left: 0;
  content: "";
  width: 1px;
  height: 2.3vw;
  background: #fff;
  transform: rotate(19deg);
}
nav .pcNav li:nth-child(4) img {
  width: 58.666%;
  padding-left: 2.7%;
}
nav .pcNav li:nth-child(5) { width: 26.939394%; }
nav .pcNav li:nth-child(5):before {
  position: absolute;
  top: -.7vw;
  left: 0;
  content: "";
  width: 1px;
  height: 2.2vw;
  background: #fff;
  transform: rotate(19deg);
}
nav .pcNav li:nth-child(5):after {
  position: absolute;
  top: -.7vw;
  right: 0;
  content: "";
  width: 1px;
  height: 1.95vw;
  background: #fff;
  transform: rotate(19deg);
}
nav .pcNav li:nth-child(5) img {
  width: 79.766%;
  padding-left: 0.5%;
}


/* mainVisual
***************************************************/
.mainVisual {
  background: url(../images/bg_main.png) top center no-repeat;
  background-size: cover;
  width: 100%;
  height: 819px;
  text-align: center;
  position: relative;
}
.mainVisual .copy {
  width: 645px;
  /*width: 560px;*/
  max-width: 100%;
  margin: -3px auto;
}

/* btn supecon
***************************************************/

.button {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid #de0000;
  color: #333;
  line-height: 50px;
  overflow: hidden;
  font-size: 14px;
  color: #de0000;
  padding: 15px 40px 15px 40px;
  top: 50px;
  right: 0px;
}
.button:hover {
  color: #de0000;
}
.button::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(.5);
  transform: scale(.5);
}
.button:hover::after {
  background: #333;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* info
***************************************************/
.info {
  width: 100%;
  /*margin-bottom: 100px;*/
  margin-bottom: 60px;
  font-size: 1.3rem;
}
.info .inner {
  border-top: 1px solid #ee525e;
  border-bottom: 1px solid #ee525e;
}
.info .row {
  /* 3つのとき */
  /*padding: 15px 0;*/
  /* 6つのとき */
  /*padding: 15px 0 45px 0;*/
  padding: 25px 0 75px 0;
  border-top: 1px solid #facfd2;
  border-bottom: 1px solid #facfd2;
}
.info .col:first-of-type { width: 21%; }
.info .col:last-of-type {
  position: relative;
  width: 79%;
}
.info .col h2 {padding-top: 16px; }
.infoArea {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.infoArea dl {
  overflow: hidden;
  margin: 0 0 7px;
}
.infoArea dt { float: left; }
.infoArea dd { margin-left: 108px; }

/*movie*/
.movie {
  margin-bottom: 30px;
}
.movie h2 {
  margin-bottom: 23px;
}
.movie .movieList { overflow: hidden; }
.movie .movieList li:nth-child(4n) { margin-right: 0; }
.movie .movieList li {
  position: relative;
  float: left;
  width: 23.5%;
  margin-right: 2%;
}
.movie .movieImg {
  width: 100%;
  margin-bottom: 7px;
}
.movie iframe {
  width: 100%;
  margin-bottom: 7px;
}
.popup-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.movie p {
  font-size: 1.4rem;
}
/* lineup
***************************************************/
.lineup .lineupTtl {
  font-size: 2rem;
  line-height: 1.1em;
  position: relative;
  top: 30px;
}
.lineup .lineupTtl span { font-size: 3rem; }
.lineup .ttlLine {
  overflow: hidden;
  margin-bottom: 14px;
  text-align: center;
  transform: skewY(172deg);
}
.lineup .ttlLine .bgInner {
  position: relative;
  background: linear-gradient( to right, #a2a2a2 7.8%,  #fff 7.8%,  #fff 8.3%, #3e3a39 8.3%);
  width: 102%;
  height: 100%;
  margin: auto -1%;
  padding: 0.5% 0;
  transform: skewX(168deg);
}
.lineup .ttlLine .bgInner:before {
  position: absolute;
  top: -1%;
  background: #fff;
  left: 7.5%;
  content: "";
  width: 0.8%;
  height: 102%;
}
.lineup .ttlLine img {
  transform: skewY(-172deg);
}
.lineup .row {
  overflow: visible;
}
.lineup .col12 {
  position: relative;
  overflow: hidden;
  background: #fff ;
  margin-bottom: 44px;
  transform: skewY(172deg);
  text-align: center;
}
.lineup .centerLine .col12 {
  background: #000 ;
}
.lineup .centerLine .col12:after {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 157%;
  content: "";
  background: url(../images/aero_bg.png) center center;
  transform: skewY(8deg);
}
.lineup .centerLine .colInner {
}
.lineup .centerLine .col12 img {
  position: relative;
  margin-top: -3%;
  transform: skewY(8deg);
  z-index: 1;
}
/*.lineup .row:nth-of-type(3) .col12 { background: #000; }*/
.lineup .leftCol { background: }
.lineup .rightCol { background: }
.lineup .col:first-of-type { padding-right: 12px; }
.lineup .col:last-of-type { padding-left: 12px; }
.lineup .colInner {
  position: relative;
  overflow: hidden;
  background: #000;
  height: 405px;
}
.lineup .col img,
.lineup .col12 img { transform: skewY(8deg); }
.lineup .pc .col:first-of-type img {
  position: absolute;
  top: -85px;
  right: 0;
}
.lineup .pc .col:last-of-type img {
  position: absolute;
  top: 0;
  left: 0;
}
car_img02{
  margin-top: 2%;
}
.lineup .row:nth-of-type(8) .col12 img { margin-top: -40px; }
.lineup .row:last-of-type .col12 img { margin-top: 10px; }

/*.event
****************************************************/
.event { padding: 95px 0 0; }
.event h2 { margin-bottom: 15px; }
.caution { color: #d91515; }
.event p {
  font-size: 1.4rem;
  margin-bottom: 25px;
}
.event h3 {
  text-align: center;
  margin-bottom: 15px;
}
.event .museList { overflow: hidden; }
.event .museList li {
  float: left;
  width: 18.3%;
  margin-right: 2%;
}
.event .museList li dt,
.event .museList li dd{
	margin: 0;
}
.event .museList li:last-child { margin-right: 0; }
.event .museList li img {
  max-width: 100%;
  margin-bottom: 10px;
}
.event .museList li .count {
  margin: -3px 0 0 -9%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: .5px;
}
.event .museList li .kawaiiBtn:hover { cursor: pointer; }
.event .museList li i {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 20px;
  background: #fff url(../images/contest_ico_click.png) no-repeat;
  background-size: cover;
  margin-right: 5px;
}
.event .museList li i.click {
  animation: hart .6s steps(5) forwards;
}

@keyframes hart {
  100% {
    background-position: -186px 0;
  }
}
/*.bnr
****************************************************/
.eventBnr {
  width: 100%;
  margin: 60px auto;
}
.eventBnr .inner {
  width: 950px;
  max-width: 100%;
}
.eventBnr h2 {
  margin-bottom: 25px;
}
.eventBnr .bnrBnrArea {
  margin-bottom: 20px;
}
.eventBnr .bnrBnrArea img {
  width: 100%;
}
.eventBnr .pt30 {
  padding-top: 30px;
}
#anv_modal {
  display: none;
}
#anv_modal  .inner { margin-top: -252px; }
#anv_modal .eventBnrModal {
  position: relative;
  max-height: 95vh;
  text-align: center;
}
#anv_modal .eventBnrModal .closeBtn {
  position: absolute;
  top: inherit;
  bottom: 100%;
  right: 5%;
}
#anv_modal img {
  width: 90%;
  margin: auto;
}
/*.booth
****************************************************/
.booth {
  width: 100%;
  margin: 100px auto;
}
.booth .inner {
  width: 950px;
  max-width: 100%;
}
.booth h2 {
  margin-bottom: 25px;
}
.booth .boothBnrArea {
  margin-bottom: 20px;
}
.booth .boothBnrArea img {
  width: 100%;
}
.booth .pt30 {
  padding-top: 30px;
}
/* footer
***************************************************/
footer { margin-top: 160px; }
.bnr {
  margin-bottom: 90px;
  /*padding-left: 130px;*/
}
.bnr ul {
  /*display: flex;
  flex-shrink:*/
}
.bnr li {
  display: inline-block;
  width: 260px;
  margin-right: 80px;
  font-size: 14px;
  vertical-align: top;
}
.bnr li:nth-child(1) { margin-bottom: 20px; }
.bnr li:nth-child(2) { margin-bottom: 20px; }
.bnr li:nth-child(3) { margin-right: 0px; }
.bnr li:nth-child(4) { margin-left: 170px; }
/*.bnr li:nth-child(2n) { margin-right: 0; }*/
.bnr li:last-of-type { margin-right: 0; }
.bnr li a {
  display: block;
  width: 100%;
  height: 100%;
}
.bnr li img {
  /* max-width: 75%; */
  margin-bottom: 10px;
}
.legal {
  background: #414141;
  height: 43px;
  color: #fff;
}
.legal small {
  font-size: 1rem;
  font-style: normal;
  line-height: 43px;
}
/*モーダル*/
#modal1_pc,
#modal2_pc,
#modal1_sp,
#modal2_sp,
#modal3_pc,
#modal4_pc,
#modal3_sp,
#modal7_pc,
#modal7_sp,
#modal4_sp {
  /*display: none;*/
  position: fixed;
  overflow-x: hidden;
  z-index: -9999;
}
.lineup .modalArea .col:last-of-type img {
  position: relative;
  max-width: 100%;
  height: 100%;
}
.lineup .modalArea .col:last-of-type img:first-of-type { width: 100%; }
.lineup .modalArea .col:first-of-type img {
  position: relative;
  top: 0;
  /*width: 100%;*/
}
.modalArea {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background: rgba(0,0,0,.5);
  width: 100%;
  max-width: 100vw;
  height: 100%;
  z-index: 9999;
}
.modalArea .row {
  overflow: hidden;
  padding: 25px;
}
.modalArea .col:first-of-type {
  width: 55%;
}
.modalArea .col:last-of-type {
  position: relative;
  width: 45%;
  padding-top: 30px;
}
.modalArea .col img {
  transform: skewY(0deg);
}
.modalArea .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1080px;
  margin-top: -272px;
  margin-left: -540px;
}
.modalContentsBg {
  position: relative;
  background: #fff;
  width: 100%;
  height: 548px;
  /*margin-top: 180px;*/
  vertical-align: middle;
}
.carDetail h3 {
  margin-bottom: 13px;
}
.carCopy {
  margin-bottom: 18px;
  font-size: 1.8rem;
  line-height: 1.5em;
}
.carDetailList {
  border-top: 1px solid #231815;
  font-size: 1.4rem;
  transform: skewX(-35deg);
}
.carDetailList dt,
.carDetailList dd {
  height: 21px;
  margin-right: 15px;
  padding-left: 15px;
  color: #231815;
  line-height: 21px;
  transform: skewX(35deg);
}
.carDetailList dt {
  float: left;
  position: relative;
  width: 35%;
  color: #fff;
}
.carDetailList dt:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: #231815;
  width: 100%;
  height: 21px;
  transform: skewX(-35deg);
  z-index: -1;
}
.carDetailListSquere {
  position: relative;
  font-size: 1.4rem;
}
/*.carDetailListSquere:before {
position: absolute;
top: 0;
left: 10px;
content: "";
border-top: 1px solid #231815;
width: 100%;
}*/
.carDetailListSquere dt {
  position: relative;
  width: 35%;
  height: 21px;
  color: #fff;
  margin: 0 15px 15px 0;
  padding-left: 15px;
  line-height: 21px;
  z-index: 1;
}
.carDetailListSquere dt:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: #231815;
  width: 100%;
  height: 21px;
  transform: skewX(-35deg);
  z-index: -1;
}
.carDetailListSquere dd {
  position: relative;
  float: left;
  width: 47%;
  margin: 0 0 5px 3%;
  padding-left: 18px;
  color: #231815;
  line-height: 1.4em;
}
.carDetailListSquere dd:before {
  position: absolute;
  top: 4px;
  left: 0;
  content: "";
  background: #231815;
  width: 12px;
  height: 12px;
}
.carDetailListSquere dd:nth-child(2n) {
  /*margin-left: 0;
  width: 48%;*/
}
.spLink { float: right; }
.spLink.aeroLinkBtn { margin-top: 35.5%; }
.imgArea {
  position: relative;
}
#bxslider1,#bxslider2,#bxslider3,#bxslider4,#bxslider5 {}
.bxslider li {
  overflow: hidden;
  width: 570px;
  height: 500px;
}
.bxslider li img {
  width: 570px;
  height: 500px;
}
.pc-bx-pager {
  position: absolute;
  bottom: 15px;
  left: 20px;
}
.pc-bx-pager img {
  width: 125px;
  height: 81px;
  margin-right: 20px;
  box-shadow: 1px 1px 0 rgb(200, 200, 200),
  1px -1px 0 rgb(200, 200, 200),
  -1px 1px 0 rgb(200, 200, 200),
  -1px -1px 0 rgb(200, 200, 200);
}
.pc-bx-pager .active img {
  box-shadow: 3px 3px 0 rgb(255, 255, 255),
  3px -3px 0 rgb(255, 255, 255),
  -3px 3px 0 rgb(255, 255, 255),
  -3px -3px 0 rgb(255, 255, 255);
}
.closeBtn {
  display: block;
  position: absolute;
  top: -15px;
  right: -10px;
  width: 40px;
  height: 40px;
  background: #231815;
  text-align: center;
  cursor: pointer;
}
.closeBtn span {
  display: block;
  position: relative;
  top: 19px;
  left: 0px;
  background: #9c9089;
  width: 100%;
  height: 1px;
  transform: rotate(45deg);
}
.closeBtn span:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background: #9c9089;
  width: 100%;
  height: 1px;
  transform: rotate(270deg);
}

/*イベントモーダル*/
#museModal,#museModal2,#museModal3,#museModal4,#museModal5 {
  position: fixed;
  top: 0px;
  overflow-x: hidden;
  display: :none;
  z-index: -9999;
  opacity: 0;
}
.modalArea {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background: rgba(0,0,0,.5);
  width: 100%;
  max-width: 100vw;
  height: 100%;
  z-index: 9999;
}
#museModal .inner {position: absolute; top: 50%; left: 50%; margin: -320px 0 0 -412.5px;}
#museModal .modalContentsBg {position: relative; background: #fff; width: 825px; height: 640px; padding: 30px; vertical-align: middle;}
#museModal .closeBtn {position: absolute; top: 0px; right: -40px;}
#museModal .bx-wrapper .bx-viewport { left: 0; }
#museModal .mainPhotoArea {width: 100%; height: 425px; margin: 0 auto 18px; overflow: hidden;}
#museModal .mainPhotoArea li {width: 100%; height: 100%;}
#museModal .mainPhotoArea li img {width: 100%; height: auto;}

#museModal2 .inner {position: absolute; top: 50%; left: 50%; margin: -320px 0 0 -412.5px;}
#museModal2 .modalContentsBg {position: relative; background: #fff; width: 825px; height: 640px; padding: 30px; vertical-align: middle;}
#museModal2 .closeBtn {position: absolute; top: 0px; right: -40px;}
#museModal2 .bx-wrapper .bx-viewport { left: 0; }
#museModal2 .mainPhotoArea {width: 100%; height: 425px; margin: 0 auto 18px; overflow: hidden;}
#museModal2 .mainPhotoArea li {width: 100%; height: 100%;}
#museModal2 .mainPhotoArea li img {width: 100%; height: auto;}

#museModal3 .inner {position: absolute; top: 50%; left: 50%; margin: -320px 0 0 -412.5px;}
#museModal3 .modalContentsBg {position: relative; background: #fff; width: 825px; height: 640px; padding: 30px; vertical-align: middle;}
#museModal3 .closeBtn {position: absolute; top: 0px; right: -40px;}
#museModal3 .bx-wrapper .bx-viewport { left: 0; }
#museModal3 .mainPhotoArea {width: 100%; height: 425px; margin: 0 auto 18px; overflow: hidden;}
#museModal3 .mainPhotoArea li {width: 100%; height: 100%;}
#museModal3 .mainPhotoArea li img {width: 100%; height: auto;}

#museModal4 .inner {position: absolute; top: 50%; left: 50%; margin: -320px 0 0 -412.5px;}
#museModal4 .modalContentsBg {position: relative; background: #fff; width: 825px; height: 640px; padding: 30px; vertical-align: middle;}
#museModal4 .closeBtn {position: absolute; top: 0px; right: -40px;}
#museModal4 .bx-wrapper .bx-viewport { left: 0; }
#museModal4 .mainPhotoArea {width: 100%; height: 425px; margin: 0 auto 18px; overflow: hidden;}
#museModal4 .mainPhotoArea li {width: 100%; height: 100%;}
#museModal4 .mainPhotoArea li img {width: 100%; height: auto;}

#museModal5 .inner {position: absolute; top: 50%; left: 50%; margin: -320px 0 0 -412.5px;}
#museModal5 .modalContentsBg {position: relative; background: #fff; width: 825px; height: 640px; padding: 30px; vertical-align: middle;}
#museModal5 .closeBtn {position: absolute; top: 0px; right: -40px;}
#museModal5 .bx-wrapper .bx-viewport { left: 0; }
#museModal5 .mainPhotoArea {width: 100%; height: 425px; margin: 0 auto 18px; overflow: hidden;}
#museModal5 .mainPhotoArea li {width: 100%; height: 100%;}
#museModal5 .mainPhotoArea li img {width: 100%; height: auto;}

.museThum {
  overflow: hidden;
  width: 100%;
  margin: auto;
}
.museThum li {
  float: left;
  width: 140px;
  height: 140px;
  margin-right: 16px;
}
.museThum li:last-child {
  margin-right: 0;
}
.museThum li a { display: block; }
.museThum li img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width:768px)   {
  .sp { display: block; }
  .pc { display: none; }
  .col { width : 100%; }
  .inner {
    padding: 0 2%;
    width: 100% !important;
  }
  .modalab {
    position: absolute;
    left: 0;
    width:  100%;
  }
  .wrapper:after {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    background: #fff;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
  }
  .infoArea {
    top: -10;
  }
  /* header
  ***************************************************************/
  header {
    position: relative;
    background: #fff;
    padding-top: 0;
    height: auto;
    z-index: 9999;
  }
  .lBox {
    width: 90%;
    margin: 4.5% auto;
    padding-left: 10%;
    text-align: center;
  }
  .lBox img {
    max-width :30%;
    vertical-align: middle;
  }
  .spNavArea {
    float: right;
    position: relative;
    width: 10%;
    text-align: right;
    z-index: 9997;
  }
  .menuBtn {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .menuBtn img {
    width: 100%;
    margin-top: 20%;
  }
  .spNav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba( 0, 0, 0, .9);
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
  }
  .spNav li {
    width: 100%;
    border-bottom: 1px solid #8e8e8e;
    text-align: center;
    line-height: 13vw;
  }
  .spNav li img {
    line-height: 3em;
    vertical-align: middle;
  }
  .spNav li:nth-child(1) img { width: 43.28125%; }
  .spNav li:nth-child(2) img { width: 19.53125%; }
  .spNav li:nth-child(3) img { width: 23.125% ; }
  .spNav li:nth-child(4) img { width: 20.1875%; }
  .spNav li:nth-child(5) img { width: 67.1875%; }
  .spNav li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
  }
  .spNav li a:hover { text-decoration: none; }
  /* mainVisual
  ***************************************************/
  .mainVisual {
    height: auto;
    background-position-x: -150px;
  }
  .mainVisual .copy {
    width: 372px;
    max-width: 57%;
    /*背景の高さ調整は一番下にまとめています*/
    margin: -1px auto 0;
  }
  /*nav
  ***************************************************/
  nav {
    position: relative;
    background: url(../images/bg_gnavi01.png) top center no-repeat;
    background-size: contain;
    width: 100%;
    left: 0px;
    top: 13px;
    bottom: 1%;
    height: 60px;
    margin-bottom: 0;
    /* margin-top: -90px; */
  }
  /* btn
  ***************************************************************/
  .button {
    position: relative;
    z-index: 2;
    background-color: #fff;
    border: 2px solid #de0000;
    color: #333;
    text-align: center;
    line-height: 50px;
    /*overflow: hidden;*/
    font-size: 14px;
    color: #de0000;
    padding: 15px 80px 15px 85px;
    top: 0px;
    right: 0px;
  }
  /* mainContents
  ***************************************************************/
  /*.mainContents { margin-top: -27%; }*/
  /* info
  ***************************************************************/
  .info {
    margin-bottom: 50px;
    font-size: 1.15rem;
  }
  .info .inner {
    margin-top: -60px;
    border: none;
  }

  .info .col h2 {
    padding-top: 0px;
  }

  .info h2 img {
    max-width: 60%;
    margin: auto;
  }
  .info .row {
    padding: 15px 0 25px 0px;
    border: none;
  }
  .info .col:first-of-type {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .info .col:last-of-type {width: 100%;padding: 0px 4%;}
  .infoArea {
    position: relative;
    padding: 15px 0 5px;
    border-top: 2px solid #ee525e;
    border-bottom: 2px solid #ee525e;
    /*height: 85px !important;*/
  }
  /*
  2016/10/28以前
  .infoArea dl { margin-bottom: 15px; }
  .infoArea dt {
  float: none;
  margin-bottom: 5px;
  font-weight: bold;
  }*/
  .infoArea dl { margin-bottom: 10px;}
  .infoArea dt {
    float: none;
    margin-bottom: 0;
    font-weight: bold;
  }
  .infoArea dd { margin-left: 0; }

  /*.movie */
  .movie { margin-bottom: 0; }
  .movie h2 { margin-bottom: 15px; }
  .movie h2 img { max-width: 62%; }
  .movie .movieList li {
    position: relative;
    width: 100%;
    margin: 0 auto 7%;
  }
  .movie .movieList li:nth-child(4n) { margin-top: 0; }
  .movie p {
    font-size: 1.15rem;
    line-height: 1.4em;
  }
  .mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    border: 5px solid #fff;
  }
  .mfp-iframe-holder .mfp-close {
    margin-top: -46px;
    margin-right: -5px;
}
  /* lineupd
  ***************************************************************/
  .lineup img {
    max-width: 100%;
  }
  .lineup .lineupTtl {
    margin-bottom: 15px;
    font-size: 2.8rem;
    line-height: 1.3em;
    top: 0px;
    padding-top: 13vw;
  }
  .lineup .lineupTtl img {width: 70%;padding-left: 4%;}
  .lineup .ttlLine img { width: 20.3%; }
  .lineup .ttlLine { margin-bottom: 1%; }
  .lineup .ttlLine .bgInner { background: linear-gradient( to right, #a2a2a2 13.5%,  #fff 13.5%,  #fff 14%, #3e3a39 14%); }
  .lineup .ttlLine .bgInner:before {
    width: 1%;
    left: 13.5%;
  }
  .lineup .col {
    text-align: center;
    background: #000;
    transform: skewY(172deg);
    margin-bottom: 5%;
  }
  .lineup .centerLine .col12:after {
    top: -6%;
    height: 126%;
    content: "";
    background: url(../images/aero_bg_sp.png) center;
    background-size: 100% 110%;
}
  .lineup .col:first-of-type { padding-right: 0; }
  .lineup .col:last-of-type { padding-left: 0; }
  .lineup .col12 {
    position: relative;
    background: #000;
    margin-bottom: 5%;
  }
  .lineup .colInner img {
    width: 80%;
  }
  .lineup .colInner {
    height: auto;
  }
  .lineup .centerLine .col12 img {
    position: relative;
    margin-top: 0;
  }
  .lineup .colimg {
    position: relative;
    top: -45px;
  }
  .lineup .col:last-of-type img {
    position: relative;
    /*top: -45px;*/
    top: -13px;
  }
  .lineup .col12 img {
    position: relative;
    top: -15px;
  }
  .lineup .centerLine img {
    width: 100%;
    margin-top: -3.5%;
  }
  .lineup .row:nth-of-type(8) .col12 img { margin-top: 0; }
  .lineup .row:last-of-type .col12 img { margin-top: 0; }
  .lineup .col:first-of-type img {
    position: none;
    top: none;
  }
  .iframe iframe {
    width: 100% !important;
    max-width: 100%;
    min-width: 100%;
    height: 1460px !important;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  /*.event
  ****************************************************/
  .event { padding: 10% 0 0; }
  .event h2 { margin-bottom: 3%; }
  .event h2 img { max-width: 21.56% }
  .event p {
    margin-bottom: 4%;
    font-size: 1.15rem;
  }
  .event h3 {
    width: 100%;
    margin-bottom: 4%;
  }
  .event h3 img { width: 100%; }
  .event .museList li {
    width: 47.5%;
    margin: 0 0 4%;
  }
  .event .museList li:nth-child(2n) { float: right; }
  .event .museList li img {
    margin-bottom: 3%;
    width: 100%;
  }
  .event .museList li dl img {
    margin-bottom: 3%;
    max-width: 100%;
    min-height: 45px;
  }
  .event .museList li .count { font-size: 2rem; }
  .event .museList li .count img { vertical-align: middle;}

  /*eventBnr
  ***************************************************/
  .eventBnr { margin: 10% auto 0; }
  .eventBnr h2 { margin-bottom: 4%; }
  .eventBnr h2 img { max-width: 90.7%; }
  .eventBnr .bnrBnrArea { margin-bottom: 2%; }
  .eventBnr img { width: 100%; }
  .eventBnr .pt30 {
    padding-top: 10px;
  }
  #anv_modal .inner { margin-top: inherit; }

  /*booth
  ***************************************************/
  .booth { margin: 10% auto 0; }
  .booth h2 { margin-bottom: 4%; }
  .booth h2 img { max-width: 90.7%; }
  .booth .boothBnrArea { margin-bottom: 2%; }
  .booth img { width: 100%; }
  .booth .pt30 {
    padding-top: 10px;
  }
  /* footer
  ***************************************************/
  footer { margin-top: 40px; }
  .bnr {
    margin-bottom: 0;
    padding-left: 0;
  }
  .bnr li {
    display: inline-block;
    width: 100%;
    margin: 0 auto 8%;
    text-align: center;
    font-size: 1.2rem;
  }
  .bnr li:nth-child(1),
  .bnr li:nth-child(2) { margin-bottom: 8%; }
  .bnr li:nth-child(4) { margin-left: 0; }
  .bnr li img {
    max-width: 40%;
    margin-bottom:  2px;
  }
  .legal {
    padding: 1.5% 0%;
    height: auto;
    text-align: center;
  }
  .legal small {
    font-size: 1rem;
    font-size: 1.9vw;
    line-height: 1.5em;
    letter-spacing: 1.2px;
  }

  /*モーダル*/
  .modalArea {
    overflow: scroll;
    /*-webkit-overflow-scrolling: touch;*/
  }
  .modalArea .inner {
    position: relative;
    top: 50px;
    left: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
  }
  .modalArea .row {
    background: #fff;
  }
  .lineup .modalArea .col {
    background: #fff;
    text-align: left;
    transform: skewY(0deg);
  }
  .modalArea .col:first-of-type {
    width: 100%;
    margin-bottom: -30px;
  }
  .modalArea .col:last-of-type {
    position: relative;
    top: 0px;
    width: 100%;
    padding-top: 0;
  }
  .modalArea .col img {
    max-width: 100%;
    transform: skewY(0deg);
  }
  .modalArea .col:last-of-type img {
    top: 0;
  }
  .modalContentsBg {
    position: relative;
    background: #fff;
    width: 100%;
    min-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  .modalContentsBg .col:first-of-type {
    margin-left: 5px;
  }
  .modalArea h3 {
    margin-bottom: 35px;
  }
  .modalArea h3 img {
    width: 100%;
  }
  .carCopy {
    margin-bottom: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.5em;
  }
  .carDetailList {
    font-size: 2rem;
  }
  .carDetailList dt {
    height: 30px;
    font-size: 4vw;
    line-height: 30px;
  }
  .carDetailList dt::after {
    height: 30px;
  }
  .carDetailList dd {
    padding: 5px 0 0 30%;
    height: auto;
    font-size: 1.8rem;
  }
  .secondLine dt {
    left: -7px;
  }
  .carDetailList:nth-of-type(2) dt:after {
    top: -1px;
    height: 31px;
  }
  .carDetailListSquere dt {
    margin-bottom: 15px;
    width: 75%;
    height: 30px;
    font-size: 4vw;
    line-height: 30px;
  }
  .carDetailListSquere dt:after {
    height: 30px;
  }
  .carDetailListSquere dd {
    width: 100%;
    font-size: 1.8rem;
    margin: 0 0 5px 0%;
  }
  .carDetailListSquere dd:last-of-type {
    margin-bottom: 15px;
  }
  .spLink {
    float: none;
    display: block;
    margin: 15px auto 0;
    text-align: center;
  }
  .spLink.aeroLinkBtn {
    margin-top: 72.5%;
  }
  .imgArea {
    position: relative;
  }
  .bxslider li {
    overflow: hidden;
    width: 100%;
    height: auto;
  }
  .bxslider li img {
    min-width: 100%;
    height: auto;
  }
  .lineup .col:first-of-type img {
    top: -10px;
    position: relative;
  }
  .sp-bx-pager {
    position: absolute;
    bottom: 15px;
    left: -2.1%;
    right: 0;
    text-align: center;
  }
  .sp-bx-pager img {
    width: 40%;
    height: auto;
    max-height: none;
    margin-right: 20px;
    box-shadow: 1px 1px 0 rgb(200, 200, 200),
    1px -1px 0 rgb(200, 200, 200),
    -1px 1px 0 rgb(200, 200, 200),
    -1px -1px 0 rgb(200, 200, 200);
  }
  .sp-bx-pager .active img {
    box-shadow: 3px 3px 0 rgb(255, 255, 255),
    3px -3px 0 rgb(255, 255, 255),
    -3px 3px 0 rgb(255, 255, 255),
    -3px -3px 0 rgb(255, 255, 255);
  }
  .sp-bx-pager a:nth-of-type(2) img {
    margin-right: 0;
  }
  .bx-wrapper .bx-controls-direction a {
    margin-top: -30px;
  }
  .closeBtn {
    top: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background: #006d00;
  }
  .closeBtn span {
    top: 22px;
    left: 2px;
    background: #fff;
  }
  .closeBtn span:after {
    background: #fff;
  }
  /*イベントモーダル*/
#museModal,#museModal2 {
  position: fixed;
  top: 360px;
  overflow-x: hidden;
  display: :none;
  z-index: -9999;
  opacity: 0;
}
#museModal3,#museModal4 {
  position: fixed;
  top: 690px;
  overflow-x: hidden;
  display: :none;
  z-index: -9999;
  opacity: 0;
}
#museModal5 {
  position: fixed;
  top: 880px;
  overflow-x: hidden;
  display: :none;
  z-index: -9999;
  opacity: 0;
}
  #museModal .inner {position: relative; top: 50px; left: 0; margin: 0; -webkit-overflow-scrolling: touch;}
  #museModal .modalContentsBg {position: relative; background: #fff; width: 100%; height: auto; padding: 4.6875%; vertical-align: middle;}
  #museModal .mainPhotoArea {height: auto; margin: 0 auto 3%;}
  #museModal .mainPhotoArea .bx-wrapper {margin: 0;}
  #museModal .museThum {text-align: center; padding: 0}
  #museModal .museThum li {float: none; display: inline-block; width: 30.5%; height: auto; margin: 0 2.7% 3.2% 0; vertical-align: top; font-size: 0;}
  #museModal .museThum li:nth-child(3n) { margin-right: 0; }
  #museModal .museThum li:nth-child(n+4) { margin-bottom: 0; }
  #museModal .closeBtn {top: -50px; right: 0; width: 50px; height: 50px; background: #006d00;}

  #museModal2 .inner {position: relative; top: 50px; left: 0; margin: 0; -webkit-overflow-scrolling: touch;}
  #museModal2 .modalContentsBg {position: relative; background: #fff; width: 100%; height: auto; padding: 4.6875%; vertical-align: middle;}
  #museModal2 .mainPhotoArea {height: auto; margin: 0 auto 3%;}
  #museModal2 .mainPhotoArea .bx-wrapper {margin: 0;}
  #museModal2 .museThum {text-align: center; padding: 0}
  #museModal2 .museThum li {float: none; display: inline-block; width: 30.5%; height: auto; margin: 0 2.7% 3.2% 0; vertical-align: top; font-size: 0;}
  #museModal2 .museThum li:nth-child(3n) { margin-right: 0; }
  #museModal2 .museThum li:nth-child(n+4) { margin-bottom: 0; }
  #museModal2 .closeBtn {top: -50px; right: 0; width: 50px; height: 50px; background: #006d00;}

  #museModal3 .inner {position: relative; top: 50px; left: 0; margin: 0; -webkit-overflow-scrolling: touch;}
  #museModal3 .modalContentsBg {position: relative; background: #fff; width: 100%; height: auto; padding: 4.6875%; vertical-align: middle;}
  #museModal3 .mainPhotoArea {height: auto; margin: 0 auto 3%;}
  #museModal3 .mainPhotoArea .bx-wrapper {margin: 0;}
  #museModal3 .museThum {text-align: center; padding: 0}
  #museModal3 .museThum li {float: none; display: inline-block; width: 30.5%; height: auto; margin: 0 2.7% 3.2% 0; vertical-align: top; font-size: 0;}
  #museModal3 .museThum li:nth-child(3n) { margin-right: 0; }
  #museModal3 .museThum li:nth-child(n+4) { margin-bottom: 0; }
  #museModal3 .closeBtn {top: -50px; right: 0; width: 50px; height: 50px; background: #006d00;}

  #museModal4 .inner {position: relative; top: 50px; left: 0; margin: 0; -webkit-overflow-scrolling: touch;}
  #museModal4 .modalContentsBg {position: relative; background: #fff; width: 100%; height: auto; padding: 4.6875%; vertical-align: middle;}
  #museModal4 .mainPhotoArea {height: auto; margin: 0 auto 3%;}
  #museModal4 .mainPhotoArea .bx-wrapper {margin: 0;}
  #museModal4 .museThum {text-align: center; padding: 0}
  #museModal4 .museThum li {float: none; display: inline-block; width: 30.5%; height: auto; margin: 0 2.7% 3.2% 0; vertical-align: top; font-size: 0;}
  #museModal4 .museThum li:nth-child(3n) { margin-right: 0; }
  #museModal4 .museThum li:nth-child(n+4) { margin-bottom: 0; }
  #museModal4 .closeBtn {top: -50px; right: 0; width: 50px; height: 50px; background: #006d00;}

  #museModal5 .inner {position: relative; top: 50px; left: 0; margin: 0; -webkit-overflow-scrolling: touch;}
  #museModal5 .modalContentsBg {position: relative; background: #fff; width: 100%; height: auto; padding: 4.6875%; vertical-align: middle;}
  #museModal5 .mainPhotoArea {height: auto; margin: 0 auto 3%;}
  #museModal5 .mainPhotoArea .bx-wrapper {margin: 0;}
  #museModal5 .museThum {text-align: center; padding: 0}
  #museModal5 .museThum li {float: none; display: inline-block; width: 30.5%; height: auto; margin: 0 2.7% 3.2% 0; vertical-align: top; font-size: 0;}
  #museModal5 .museThum li:nth-child(3n) { margin-right: 0; }
  #museModal5 .museThum li:nth-child(n+4) { margin-bottom: 0; }
  #museModal5 .closeBtn {top: -50px; right: 0; width: 50px; height: 50px; background: #006d00;}

}

@media screen and (max-width:425px) {
  .info {
    margin-bottom: 35px;
  }
}
@media screen and (min-width:769px) and ( max-width:1080px)  {

  header {
    height: 100px;
  }

  .info .row {
    position: relative;
    /* 3つのとき */
    /*padding: 75px 0;*/
    /* 6つのとき */
    /*padding: 85px 0 130px 0;*/
    padding: 85px 0 150px 0;
    border-top: 1px solid #facfd2;
    border-bottom: 1px solid #facfd2;
  }

  .info .col h2 img{
    /*width: 17%;
    position: absolute;
    top: 50%;
    transform: translatey(-65%);*/
    width: 18%;
    position: absolute;
    top: 60%;
    transform: translatey(-65%);
  }
  .lineup .lineupTtl {
    font-size: 2rem;
    line-height: 1.1em;
    padding-left: 25px;
  }

  .info {
    padding: 0px 25px;
    width: 100%;
    margin-bottom: 100px;
    font-size: 1.3rem;
  }

  .infoArea dl { margin-bottom: 10px;}

  /* footer
  ***************************************************/
  footer {
    margin-top: 40px;
    width: 100%;
  }
  .bnr {
    margin-bottom: 90px;
    text-align: center;
    padding-left: 0;
  }

  .bnr ul{
    margin: 0 auto;
    width: 100%;
    /*padding: 0px 20px*/
  }

  .bnr li {
    margin: 0 auto;
    display: inline-block;
    width: 30%;
    margin-right: 4%;
    font-size: 12px;
  }
  .bnr li:nth-child(3) { margin-right: 0; }
  .bnr li:nth-child(4) { margin-left: 0; }
  .bnr li:last-of-type { margin-right: 0; }
  .bnr li a {
    margin-right: 0px;
    display: block;
    width: 100%;
    height: 100%;
  }
  .bnr li img {
    /* max-width: 75%; */
    width: 100%;
    margin-bottom: 10px;
  }
  .legal {
    background: #414141;
    height: 43px;
    color: #fff;
  }
  .legal small {
    font-size: 1rem;
    font-style: normal;
    line-height: 43px;
  }

}

/*mainVisual調整 ここで細かく調整しましょう*/
@media screen and (max-width:768px) {
  .mainVisual .copy { margin-bottom: 15%; }
  nav { top: -50px; }
  .info .inner { margin-bottom: -50px; }
}
@media screen and (max-width:590px) {
  nav { top: -40px; }
  .info .inner { margin-bottom: -40px; }
}
@media screen and (max-width:490px) {
  nav { top: -23px; }
}
@media screen and (max-width:450px) {
  .mainVisual .copy { margin-bottom: 10%; }
  nav { top: -8px; }
}
@media screen and (max-width:400px) {
  .mainVisual .copy { margin-bottom: 5%; }
  nav { top: 5px; }
}
@media screen and (max-width:370px) {
  .mainVisual .copy { margin-bottom: 3.5%; }
  nav { top: 13px; }
}
